fastapi
uvicorn[standard]
python-multipart
aiofiles
numpy<2
torch
torchvision
torchaudio
librosa
imageio-ffmpeg
opencv-python
Pillow
ultralytics
mediapipe==0.10.14
protobuf==4.25.8
pymongo
python-dotenv
tensorflow-cpu==2.17.1
tensorflow-hub==0.16.1
tf-keras==2.17.0

# Weapon detection
ultralytics>=8.0.0
